<div class="footer">
    <div class="container">
        <div class="first">
            <h4>Copmany Name</h4>
            <p>
              Ashwin Fashion Store's
            </p>
        </div>
        <div class="second">
            <h4>HELP</h4>
            <ul class="list">
                <li>
                    Shipping Information</li>
                <li> Returns & Exchange</li>
                <li> Terms & Conditions</li>
                <li> Privacy Policy
                </li>
            </ul>
        </div>
        <div class="third">
            <h4>HAVE A QUESTION</h4>
            <p>
                Suramangalam சூரமங்கலம் Salem, Tamil Nadu 636005</p>
            <p>+91 9444191034</p>
            <p>ashwin@gmail.com
            </p>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright ©2019 All rights reserved | This application is made with love</p>
    </div>
</div>